.container {
	width: 60%;
	height: 65%;
	background-color: white;
	margin-left: 20%;
	margin-right: 20%;
	position: absolute;
	margin-top: 10%;
	border-style: solid;
	border-width: 5px;
	border-color: black;
	min-width: 800px;
	min-height: 600px;
	text-align: center;
}

.container canvas {
	z-index: -1;
}

.title {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.title h1 {
	font-family: 'walibi';
	text-align: center;
	color: rgba(170,170,170,1);
	font-size: 44px;
	-webkit-text-fill-color: rgba(170,170,170,1); /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
	text-shadow: 5px 2px 6px rgba(150, 150, 150, 1);
}

.container p {
	color: black;
	text-align: center;
	margin-top: 100px;
	font-size: 50px;
	font-family: 'walibi';	
}

.container-image {
	
}

.container-image img {
	position: absolute;
	left: 0px;
	bottom: 0px;
	z-index: 0;
	width: 28%;
	margin-left: 15px;
	height: auto;
}

.buttonimage {
	background-image: url("../img/logo.png");

}

.container button {
	z-index: 2;
}


@font-face {
	font-family: 'Open-Sans';
	src: url("fonts/OpenSans.ttf");
}

@font-face {
	font-family: 'walibi';
	src: url("fonts/walibi.ttf");
}

body {
	background-color: rgba(30, 30, 30,100);
	background-image: url("../img/background.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	margin: 0;
}